*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
.container{
    width : 100%;
    height: 100vh;
    /* background: repeating-linear-gradient(135deg,#153677 20%,#4e085f 405); */
    background: linear-gradient(135deg, #FFA500 25%, transparent 50%, transparent 50%, #FFA500 70%, #FFA500 80%, transparent 100%, transparent); 
    /* background-image: url("./images/img.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    padding: 40px;
    
}
.main-box{
    width: 100%;
    max-width: 540px;
    background-color: white;
    margin: 100px auto 20px;
    padding: 20px;
    border-radius: 20px;
}
.main-box h2{
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: orangered;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    
}
img{
    width: 40px;
    margin-left: 10px;
}

.row{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    background: rgba(189, 179, 179, 0.67);
    border-radius: 40px;

}
/* For tablets and larger screens */
@media only screen and (min-width: 600px) {
    .main-box {
      max-width: 540px; /* Adjust as needed */
    }
  
    .row {
      flex-direction: row; /* Restore the horizontal layout for larger screens */
    }
  }
  
input{
   flex:1;
   border: none;
   outline: none;
   background: transparent;
   padding: 7px;
   font-weight: 15px;
}
button{
    border: none;
    outline: none;
    background: orangered;
    padding: 10px 40px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: black;
}
ul li::before{
    content: ' ';
    position: absolute;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-image: url("./images/unchecked.png");
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("./images/checked.png");
}
ul li span{
    position:absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: orangered;
    border-radius: 50%;
}